body{
    background-color: burlywood;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card{
    background-color: white;
    border: solid 5px black;
    display: block;
    width: 20em;
    height: 8em;
} 
.cardTitle{
    font-weight: bold;
    position: relative;
    left:0.3em;
}
.btnResolve{
    position: relative;
    display: block;
    top:-1.6em;
    left: 22em;
    width: 2em;
    background-color: chartreuse;
    border: 2px solid chartreuse;
    font-weight: bold;
}
.cardId{
    position:relative;
    top:-2.75em;
    left:5em;
}
.cardBody{
    
}